<%- include('partials/header.ejs') %>



<div class="row">
    <div id="side-bar" class="col">
        <h1><a href="/">Wando</a></h1>
        <div id="tabs">
            <div class="tab-btn">
                <a href="/home"><i class="fa-solid fa-house"></i>Home</a>
            </div>
            <div class="tab-btn">
                <a href="/discover"><i class="fa-solid fa-magnifying-glass"></i>Discover</a>
            </div>
            <!-- <div class="tab-btn">
                <a href="/camps"><i class="fa-solid fa-fire"></i>Camps</a>
            </div> -->
            <div class="tab-btn">
                <a href="/messages"><i class="fa-regular fa-envelope"></i>Messages</a>
            </div>            
            <div class="tab-btn">
                <a href="/notification"><i class="fa-regular fa-comment"></i>Notifications</a>
            </div>
            <div class="tab-btn">
                <a href="/upload"><i class="fa-solid fa-plus"></i>Post</a>
            </div>
            <div class="tab-btn">
                <a href="/notification"><i class="fa-regular fa-user"></i>Profile</a>
            </div>
        </div>
        <div id="more-options">
            <button>more</button>
        </div>
    </div>


    

    <% if (chats.length===0) { %>
    <div id="message-page" class="col">
        <div>
            <h1>@<%= myUsername %></h1>
        </div>
        <div>
            <h1>Send a DM</h1>
        </div>
        <div>
            <form action="/messages" method="POST">
                <input name="search" id="search-input" type="text" placeholder="search">
                <button id="search-btn" type="submit">Find</button>
            </form>
        </div>
        <div id="search-results">

        </div>
        <div id="messages">


        </div>
    </div>     
    <% }else{ %>
        <div id="message-page" class="col">
            <div>
                <h1>@<%= myUsername %></h1>
            </div>
            <div>
                <form action="/messages" method="POST">
                    <input name="search" id="search-input" type="text" placeholder="search">
                    <button id="search-btn" type="submit">Find</button>
                </form>
            </div>

            <div id="search-results">

            </div>




            <% chats.forEach(chat => { %>

            <% (chat.users).forEach(user => { %>

                <% if ((user.userId).toString() != myObjId.toString()) { %>
            <div>
                <div id="chat">
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="" alt=""></td>
                                <td>
                                <h5>
                                <a href="/chat/<%=chat._id%>"+> <%=user.userName%></a>
                                </h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
                <% } %>

            <% }) %>
              

          
            <% }) %>




            <div id="messages">
    
    
            </div>
        </div>
    <% } %>



</div>

<script>
// Query DOM
const searchInput = document.getElementById('search-input');
const searchBtn = document.getElementById('search-btn');
const searchResults = document.getElementById('search-results')


// Make Connection
const socket = io.connect("http://localhost:3000", {
    transports: ["websocket","webtransport"],
    addTrailingSlash: false,
});



// Emit Events
document.addEventListener('keyup', function(event){
    if (event.target.matches('input')) {
        
        socket.emit('msgSearch',{
            searchData: searchInput.value,
        });

    };
});

// Listen for Events
socket.on('msgUsers', function(data){
    console.log(data);
        searchResults.innerHTML = ""
        data.forEach(user => {
            searchResults.innerHTML +=
        "<div id=foundUser><p><a href=/chat/newChat"+user._id+">"+user.username+"</a></p></div>"
        });
        if (data.length === 0) {
            searchResults.innerHTML = ""
        }
        if (searchInput.value === ""){
            searchResults.innerHTML = "";
        }
})


</script>

<%- include('partials/footer.ejs') %>